/*------------------------------ Navbar------------------------------ */

.d-none a {
    color: #000;
    padding-right: 10px;
}

.navbar li {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 30px;
    -khtml-border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-family: 'Roboto', sans-serif;
}

li a:hover {
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 30px;
    -khtml-border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-family: 'Roboto', sans-serif;
    background-color: #dedede;
    color: white;
}

/* --------------------------------Footer -------------------------------*/

.footer {
    height: 50px;
}

.footer-signup {
    padding-top: 10px;
    padding-left: 30px;
}

.card-logo {
    padding: 20px;
    height: 100px;
    width: 150px;
    float: left;
}

.socials {
    padding-top: 0px;
    padding-left: 250px;
    float: right;
}

.color-members {
    background-color: #FFE6E6;
    padding: 20px;
}


.Tour-color {
    background-color: #FFCCCC;
    padding-bottom: 50px;
    padding-top: 20px;
}

#top-img {
    background: url(./images/The_monkees_main_pic.jpg);
    height: 600px;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

.footer-signup_button {
    background-color: transparent;
}

.shadows {
    border-radius: 5px;
    box-shadow: 1px 0.5px 1px 2px #E86465;
    background-color: #FFFFFF;
}

.shadow-light {
    border-radius: 5px;
    box-shadow: 1px 0.5px 1px 2px #E86465;
    background-color: #FFEBEB;
}

/* --------------------------------Gallery -------------------------------*/

/* --------------------------------Extra Small Mobile -------------------------------*/

@media (max-width:320px) {

    /* --------------------Footer ---------------*/
    .footer-signup {
        padding-bottom: 20px;
        padding-left: 0px;
    }

    /* --------------------home ------------------*/
    /*-----------images---------*/
    .card-img2 {
        height: 210px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 10px;
    }
    .card-img3 {
        height: 250px;
        width: 100%;
    }
    #top-img {
        background: url(./images/The_monkees_main_pic.jpg);
        height: 180px;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 0px;
    }

    /*-----------headings---------*/
    .news-title {
        font-size: 1.40rem;
        text-align: center;
    }

    .block-divider {
        width: 50px;
        height: 3px;
        border: 0;
        background-color: #444;
    }

    .container-fluid-news {
        padding-top: 10px;
        text-align: center;
    }

    /*-----------text---------*/
    .about-text {
        font-size: 0.8rem;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        text-align: center;
    }

    .section-paragraph {
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 15px;
    }


    /* --------------------about -----------------*/
    /*-----------images---------*/
    .container-fluid-members {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 50px;
    }

    /*-----------text---------*/
    .container-fluid-paragraph {
        padding-right: 0px;
        padding-left: 0px;
        text-align: center;
    }

    .origin {
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    .members {
        font-size: 1rem;
    }

    .hometown {
        font-size: 0.7rem;
    }

    .card-text {
        font-size: 0.8rem;
    }

    .card-m {
        width: 10rem;
    }

    .card-body {
        text-align: center;
    }


    /* --------------------tour ------------------*/
    /*-----------Block Dividers---------*/
    .mini {
        width: 50px;
        height: 2px;
        border: 0;
        background-color: #444;
        padding: 0;
    }

    /*-----------text---------*/
    .card-body-2 {
        font-size: 0.6rem;
        text-align: center;
        padding: 10px;
    }

    .card-body-1 {
        font-size: 0.5rem;
        padding: 5px;
        text-align: center;
    }

    .date {
        font-size: 1rem;
    }


    /* --------------------music -----------------*/
    .playlist1 {
        width: 100%;
    }
    /* --------------------gallery ---------------*/
    .gallery {
        display: inline-table;
        justify-content: center;
        align-items: center;
    }

    .gallery-imgs {
        width: 100%;
        height: 100%;
        align-items: center;
        padding-bottom: 15px;
    }
    .col-xs-6 {
        align-items: center;
    }

    .row {
        margin: 0px;
    }
}

/* -------------------------------- Mobile -------------------------------*/

@media (min-width:321px) {

    /* --------------------Footer ---------------*/
    .footer-signup {
        padding-bottom: 20px;
        padding-left: 0px;
    }

    /* --------------------home ------------------*/
    /*-----------images---------*/
    .card-img2 {
        height: 250px;
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        padding-bottom: 10px;
    }
    .card-img3 {
        height: 250px;
        width: 100%;
    }
    #top-img {
        background: url(./images/The_monkees_main_pic.jpg);
        height: 200px;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 0px;
    }

    /*-----------headings---------*/
    .news-title {
        font-size: 1.40rem;
        text-align: center;
    }

    .block-divider {
        width: 50px;
        height: 3px;
        border: 0;
        background-color: #444;
    }

    .container-fluid-site {
        padding-top: 10px;
        text-align: center;
    }

    /*-----------text---------*/
    .about-text {
        font-size: 0.8rem;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 10px;
        text-align: center;
    }

    .section-paragraph {
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
        font-size: 13px;
    }


    /* --------------------about -----------------*/
    /*-----------images---------*/
    .container-fluid-members {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 50px;
    }

    /*-----------text---------*/
    .container-fluid-paragraph {
        padding-right: 0px;
        padding-left: 0px;
        text-align: center;
    }

    .origin {
        text-align: center;
        padding-left: 30px;
        padding-right: 30px;
    }

    .members {
        font-size: 1rem;
    }

    .hometown {
        font-size: 0.7rem;
    }

    .card-text {
        font-size: 0.8rem;
    }

    .card-m {
        width: 10rem;
    }

    .card-body {
        text-align: center;
    }


    /* --------------------tour ------------------*/
    /*-----------Block Dividers---------*/
    .mini {
        width: 50px;
        height: 2px;
        border: 0;
        background-color: #444;
        padding: 0;
    }

    /*-----------text---------*/
    .card-body-2 {
        font-size: 0.6rem;
        text-align: center;
        padding: 10px;
    }

    .card-body-1 {
        font-size: 0.5rem;
        padding: 5px;
        text-align: center;
    }

    .date {
        font-size: 1rem;
    }


    /* --------------------music -----------------*/
    /* --------------------gallery ---------------*/
    .gallery {
        display: inline-table;
        justify-content: center;
        align-items: center;
    }

    .gallery-imgs {
        width: 100%;
        height: 100%;
        align-items: center;
        padding-bottom: 15px;
    }
    .col-xs-6 {
        align-items: center;
    }

    .row {
        margin: 0px;
    }
}

/* --------------------------------Medium Devices -------------------------------*/

@media (min-width: 768px) {

    /* --------------------Footer ---------------*/
    .icons {
        padding-left: 190px;
    }

    .socials {
        padding-top: 50px;
        padding-left: 0px;
    }

    .footer-signup {
        padding-top: 10px;
        padding-left: 10px;
    }

    /* --------------------Home ---------------*/
    /*-----------Images---------*/
    .card-img2 {
        height: 250px;
        width: 250px;
    }

    .card-img3 {
        height: 500px;
        width: 100%;
    }

    #top-img {
        background: url(./images/The_monkees_main_pic.jpg);
        height: 370px;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 60px;
    }

    .section-paragraph {
        text-align: center;
        padding-left: 0px;
        padding-right: 0px;
    }

    /*-----------Headings---------*/
    .container-fluid-site {
        padding-top: 10px;
        text-align: center;
    }
    /*-----------Block Divider---------*/
    .block-divider {
        width: 75px;
        height: 5px;
        border: 0;
        background-color: #444;
    }

    /* --------------------About ---------------*/
    /*-----------Images---------*/
    .card-img-mm {
        padding-left: 20px;
    }

    .container-fluid-members {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 30px;
    }


    /* --------------------Tour ---------------*/
    /*-----------sections---------*/
    .card-body-2 {
        font-size: 1.2rem;
        text-align: center;
        padding: 10px;
    }

    .card-body-1 {
        font-size: 1.0rem;
        padding: 5px;
        text-align: center;
    }

    .card-body1 {
        padding: 20px;
    }

    /* --------------------music ---------------*/
    .container-fluid-paragraph {
        padding-right: 80px;
        padding-left: 80px;
        text-align: center;
    }

    .center {
        position: static;
        left: 0;
        top: 0;
        width: 100%;
        height: 25%;
    }

    img {
        width: 100%;
        height: auto;
    }

    .news {
        padding-left: 10%;
        padding-right: 10%;
    }

    .block-divider-dates {
        width: 150px;
        height: 5px;
        border: 0;
        background-color: #444;
    }


    .card-body {
        text-align: center;
    }



    .image1 {
        position: relative;
    }

    .container-fluid {
        width: 100%;
        padding: 0;
        margin-right: auto;
        margin-left: auto;
    }

    .center {
        position: static;
        left: 0;
        top: 0;
        width: 100%;
        height: 25%;
    }

    img {
        width: 100%;
        height: auto;
    }

    .news {
        padding-left: 10%;
        padding-right: 10%;
    }
    .playlist1 {
        width: 100%;
    }
    .playlist2 {
        width: 100%;
    }

}



/* --------------------------------Large Devices -------------------------------*/

@media (min-width: 992px) {

    /* --------------------Footer ---------------*/
    .icons {
        padding-left: 0px;
    }

    .card-logo {
        width: 200px;
        height: 140px;
        padding-bottom: 20px;
        padding-left: 25px;
    }

    .footer-signup {
        padding-top: 10px;
        padding-left: 0px;
    }

    .card-logo {
        padding: 20px;
        height: 100px;
        width: 200px;
    }

    .socials {
        padding-top: 50px;
        padding-left: 0px;
    }

    /* --------------------Home ---------------*/
    /*-----------Images---------*/
    .card-img2 {
        height: 250px;
        width: 250px;
        padding-left: 10%;
    }

    #top-img {
        background: url(./images/The_monkees_main_pic.jpg);
        height: 500px;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 40px;
    }
    /* --------------------About ---------------*/
    /*-----------Images---------*/
    .card-img-mm {
        padding-left: 20px;
    }

    .container-fluid-members {
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 125px;
    }



    /* --------------------Tour ---------------*/
    .card-body-2 {
        font-size: 1.2rem;
        text-align: center;
        padding-bottom: 25px;
    }

    /* --------------------Music ---------------*/
    .playlist1 {
        width: 100%;
    }
    .playlist2 {
        width: 100%;
    }
    /* --------------------Gallery ---------------*/
    .gallery {
        padding: 10px;
    }
}

/* --------------------------------Extra Large Devices -------------------------------*/

@media (min-width: 1200px) {

    /* --------------------Footer ---------------*/
    .icons {
        padding-left: 100px;
    }

    .card-logo {
        width: 200px;
        height: 140px;
        padding-bottom: 20px;
        padding-left: 25px;
    }

    .footer-signup {
        padding-top: 10px;
    }

    .card-logo {
        padding: 20px;
        height: 100px;
        width: 200px;
    }

    .socials {
        padding-top: 50px;
    }
    /* --------------------Home ---------------*/
    #top-img {
        background: url(./images/The_monkees_main_pic.jpg);
        height: 600px;
        background-position: center;
        background-attachment: fixed;
        background-size: cover;
        background-repeat: no-repeat;
        margin-bottom: 40px;
    }

    .p-3 {
        padding: 4rem!important;
    }
    /*-----------Images---------*/
    /*-----------headings---------*/
    .news-title {
        font-size: 1.6rem;
    }

    .block-divider {
        width: 50px;
        height: 3px;
        border: 0;
        background-color: #444;
    }

    .container-fluid-site {
        padding-top: -30px;
        text-align: center;
    }

    /*-----------Images---------*/
    .media-body {
        padding-bottom: 20px;
    }
    /*-----------Text---------*/
    .container-fluid-paragraph {
        padding-right: 60px;
        padding-left: 60px;
        text-align: center;
        font-size: 1.2rem;
        padding-bottom: 40px;
    }



    /*-----------Styles---------*/
    .video {
        width: 100%;
        height: 80%;
    }
    /* --------------------------------Mobile -------------------------------*/
    @media (max-width:760px) {

        /* --------------------Footer ---------------*/
        .footer-signup {
            padding-bottom: 20px;
        }

        /* --------------------home ------------------*/
        /*-----------images---------*/
        .card-img2 {
            height: 10%;
            width: 100%;
            padding-right: 15px;
            padding-left: 15px;
            padding-bottom: 10px;
        }
        .card-img3 {
            height: 250px;
            width: 100%;
        }
        #top-img {
            background: url(./images/The_monkees_main_pic.jpg);
            height: 200px;
            background-position: center;
            background-attachment: fixed;
            background-size: cover;
            background-repeat: no-repeat;
            margin-bottom: 0px;
        }

        /*-----------headings---------*/
        .news-title {
            font-size: 1.40rem;
        }

        .block-divider {
            width: 50px;
            height: 3px;
            border: 0;
            background-color: #444;
        }

        .container-fluid-site {
            padding-top: 10px;
            text-align: center;
        }

        /*-----------text---------*/
        .about-text {
            font-size: 0.8rem;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 10px;
        }

        .section-paragraph {
            text-align: center;
            padding-left: 30px;
            padding-right: 30px;
        }


        /* --------------------about -----------------*/
        /*-----------images---------*/
        .container-fluid-members {
            padding-top: 20px;
            padding-bottom: 20px;
            padding-left: 50px;
        }

        /*-----------text---------*/
        .container-fluid-paragraph {
            padding-right: 0px;
            padding-left: 0px;
            text-align: center;
        }

        .origin {
            text-align: center;
            padding-left: 30px;
            padding-right: 30px;
        }

        .members {
            font-size: 1rem;
        }

        .hometown {
            font-size: 0.7rem;
        }

        .card-text {
            font-size: 0.8rem;
        }

        .card-m {
            width: 10rem;
        }

        .card-body {
            text-align: center;
        }


        /* --------------------tour ------------------*/
        /*-----------Block Dividers---------*/
        .mini {
            width: 50px;
            height: 2px;
            border: 0;
            background-color: #444;
            padding: 0;
        }

        /*-----------text---------*/
        .card-body-2 {
            font-size: 0.6rem;
            text-align: center;
            padding: 10px;
        }

        .card-body-1 {
            font-size: 0.5rem;
            padding: 5px;
            text-align: center;
        }

        .date {
            font-size: 1rem;
        }


        /* --------------------music -----------------*/
        .playlist1 {
            width: 100%;
            align-items: center;
        }
        /* --------------------gallery ---------------*/
        .gallery {
            display: inline-table;
            justify-content: center;
            align-items: center;
        }

        .gallery-imgs {
            width: 100%;
            height: 100%;
            align-items: center;
            padding-bottom: 15px;
        }
        .col-xs-6 {
            align-items: center;
        }

        .row {
            margin: 0px;
        }

        /* --------------------About ---------------*/
        /* --------------------Tour ---------------*/
        /* --------------------Music ---------------*/
        /* --------------------Gallery ---------------*/
    }
